/**
 * File to create cards information styles
 */

#cards-information {
  background-color: $purple;
}

.card-information {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  padding: 40px 24px 24px;
  border: 1px solid #fff;
  background-color: $purple;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    border: 1px solid #fff;
    background-color: $purple;
    z-index: 1;
  }

  div {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .card-title {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    width: 25%;
  }

  .card-description {
    font-size: 12px;
    text-align: center;
    width: 45%;
    margin: 0 4%;
  }

  .card-campaign-content {
    width: 15%;
    a {
      display: block;
      height: 30px;
      img {
        height: 30px;
      }
      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }

  &:last-of-type {
    margin-top: 40px;
    .card-description {
      width: 65%;
    }
  }
}