/**
 * File to create highlights styles
 */

.h-featured {
  font-weight: bold;
  padding: 16px;
  background-color: $yellow;
  color: $purple;
  font-size: 20px;
  border-radius: 4px;
  line-height: 1.4;
}

.h-normal {
  color: $purple;
  font-weight: 700;
  margin-left: 20px;
  line-height: 1.5;
}