/**
* Styles for main page
*/

#complete-list-offers {
  background-image: url(https://static.clickbus.com/live/ClickBus/img/img-varejao-carnaval/gradient.svg);
  background-size: cover;
  background-position: 50%;
  padding: 24px 0;
}

.filter-offer {
  width: 30%;
  float: left;
  margin-right: 24px;
  label {
    color: rgba(#fff, 0.7);
  }
}

.select-wrapper {
  input {
    &.select-dropdown {
      color: rgba(#fff, 0.7)
    }
  }
}